<% url_home = "https://library.unt.edu" %>
<% url_login = "#{url_home}/accounts-login/" %>
<% url_ask_us = "#{url_home}/ask-us/" %>
<% url_research = "#{url_home}/research/" %>
<% url_services = "#{url_home}/services/" %>
<% url_spaces = "#{url_home}/spaces/" %>
<% url_about = "#{url_home}/about/" %>
<% url_news = "#{url_home}/news/" %>
<% url_events = "#{url_home}/events/" %>

<ul class="nav navigation--group pl-sm-3">
  <li class="nav-item d-none d-lg-inline">
    <a href="<%= url_home %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Home"
       ga-event-label="<%= url_home %>"
       ga-event-value="1">Home</a></li>
  <li class="nav-item">
    <a href="<%= url_about %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="About"
       ga-event-label="<%= url_about %>"
       ga-event-value="1">About</a></li>
  <li class="nav-item">
    <a href="<%= url_research %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Research"
       ga-event-label="<%= url_research %>"
       ga-event-value="1">Research</a></li>
  <li class="nav-item">
    <a href="<%= url_services %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Services"
       ga-event-label="<%= url_services %>"
       ga-event-value="1">Services</a></li>
  <li class="nav-item">
    <a href="<%= url_spaces %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Spaces"
       ga-event-label="<%= url_spaces %>"
       ga-event-value="1">Spaces</a></li>
  <li class="nav-item">
    <a href="<%= url_news %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="News"
       ga-event-label="<%= url_news %>"
       ga-event-value="1">News</a></li>
  <li class="nav-item">
    <a href="<%= url_events %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Events"
       ga-event-label="<%= url_events %>"
       ga-event-value="1">Events</a></li>
  <li class="nav-item ml-auto">
    <a href="<%= url_ask_us %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Ask Us"
       ga-event-label="<%= url_ask_us %>"
       ga-event-value="1">Ask Us</a></li>
  <li class="nav-item">
    <a href="<%= url_login %>"
       class="nav-link"
       ga-on="click"
       ga-event-category="link - navbar"
       ga-event-action="Accounts Login"
       ga-event-label="<%= url_login %>"
       ga-event-value="1"><span class="d-sm-none d-lg-inline">Accounts </span>Login</a></li>
</ul>