<% url_home = "https://library.unt.edu" %>
<% url_login = "#{url_home}/accounts-login/" %>
<% url_ask_us = "#{url_home}/ask-us/" %>
<% url_research = "#{url_home}/research/" %>
<% url_services = "#{url_home}/services/" %>
<% url_spaces = "#{url_home}/spaces/" %>
<% url_about = "#{url_home}/about/" %>
<% url_news = "#{url_home}/news/" %>
<% url_events = "#{url_home}/events/" %>

<ul class="nav navigation--group pl-sm-3">
  <li class="nav-item d-none d-lg-inline">
    <a href="<%= url_home %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_home %>">Home</a></li>
  <li class="nav-item">
    <a href="<%= url_about %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_about %>">About</a></li>
  <li class="nav-item">
    <a href="<%= url_research %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_research %>">Research</a></li>
  <li class="nav-item">
    <a href="<%= url_services %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_services %>">Services</a></li>
  <li class="nav-item">
    <a href="<%= url_spaces %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_spaces %>">Spaces</a></li>
  <li class="nav-item">
    <a href="<%= url_news %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_news %>">News</a></li>
  <li class="nav-item">
    <a href="<%= url_events %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_events %>">Events</a></li>
  <li class="nav-item ml-auto">
    <a href="<%= url_ask_us %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_ask_us %>">Ask Us</a></li>
  <li class="nav-item">
    <a href="<%= url_login %>"
       class="nav-link"
       data-event-category="link - navbar"
       data-event-action="libraries"
       data-event-label="<%= url_login %>"><span class="d-sm-none d-lg-inline">Accounts </span>Login</a></li>
</ul>