<%
  html_classes = load_yaml_data('www/html_classes')['offcanvas']['chat']
  chat_id = load_yaml_data('www/utils')['springshare']['libanswers']['widget_id']
%>
<aside aria-label="Chat">
  <div class="<%= html_classes['wrapper'] %>"
       id="chat-offcanvas"
       data-bs-scroll="true"
       tabindex="-1"
       aria-labelledby="offcanvas-chat-title">
    <div class="<%= html_classes['header'] %>">
      <h5 id="offcanvas-chat-title"
          class="<%= html_classes['title'] %>" >
        Chat with Us
      </h5>
      <button type="button"
              class="<%= html_classes['close_btn'] %>"
              data-bs-dismiss="offcanvas">
      </button>
    </div>
    <div class="<%= html_classes['body'] %>">
      <div id="<%= chat_id %>"></div>
      <div id="offcanvas-ask-us"></div>
    </div>
  </div>
  <button class="<%= html_classes['trigger_btn'] %> d-none"
          id="global-chat-btn"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#chat-offcanvas"
          aria-controls="chat-offcanvas">
    <%= render partial: 'shared/www/utils/svg', locals: {
      use: "svg-message-dots",
      viewBox: "0 0 512 512",
      decorative: true,
      title: "search",
      classes: "svg-inline--fa fa-fw",
    } %>
    <span id="global-chat-btn-text">
      Chat with Us
    </span>
  </button>
</aside>
