<%
  html_classes = load_yaml_data('www/html_classes')['colophon']
  site = load_yaml_data('www/config')
  urls = load_yaml_data('www/urls')
  colophon = load_yaml_data('www/navigation')['colophon']
  colophon_tooltips = load_yaml_data('www/utils')['tooltips']['colophon']
%>

<% url_feedback = 'https://unt.az1.qualtrics.com/jfe/form/SV_1BRQnARsgKm8YUS' %>

<div id="colophon" class="<%= html_classes['container'] %>">
  <div class="<%= html_classes['flag_divider'] %>" id="flag-divider">
    <hr class="<%= html_classes['hr_class'] %>">
    <a href="<%= urls['misc']['state_of_texas'] %>" class="<%= html_classes['flag_link'] %>">
      <%= render partial: 'shared/www/utils/svg', locals: {
        use: 'svg-unt-flag',
        viewBox: '0 0 47.3 26',
        decorative: true,
        title: 'State of Texas',
        classes: html_classes['flag_icon'],
        width: 47.3,
        height: 26 } %>
    </a>
  </div>

  <div class="<%= html_classes['row'] %>">
    <div class="<%= html_classes['wordmark_wrapper'] %>">
      <a href="<%= site['institution_url'] %>" class="<%= html_classes['unt_brand_classes'] %>">
        <%= render partial: 'shared/www/utils/svg', locals: {
          use: 'svg-unt-wordmark',
          viewBox: '0 0 411.381 86.706',
          decorative: false,
          title: site['institution_long'],
          classes: html_classes['wordmark_svg'],
          width: 411.381,
          height: 86.706,
          style: 'max-width:300px;' } %>
      </a>
    </div>

    <div class="<%= html_classes['links_outer_column'] %>">
      <% colophon.each do |row| %>
        <div class="<%= html_classes['links_row'] %> <%= row['classes'] %>">
          <% row['items'].each do |item| %>
            <a class="<%= html_classes['nav_link_classes'] %> <%= item['classes'] %>" href="<%= item['url'] %>">
              <%= item['text'] %>
            </a>
          <% end %>
        </div>
      <% end %>

      <div class="<%= html_classes['copyright'] %>">
        <!--noindex-->
        <%= link_to '&copy;'.html_safe, url_feedback, target:'_blank',
                    rel: 'nofollow',
                    class: html_classes['nav_link_classes'],
                    data: {
                      'bs-toggle': 'tooltip',
                      'bs-title': colophon_tooltips['staff_reporting'],
                    } %>
        <!--/noindex-->
        <%= Time.now.year %> <%= site['institution_long'] %>. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
