<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Preconnect for assets -->
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://lgapi-us.libapps.com" rel="preconnect" crossorigin>
  <link href="https://books.google.com" rel="preconnect" crossorigin>

  <!-- Metadata -->
  <title><%= render_page_title %></title>
  <%= render 'shared/head/meta_tags' %>
  <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
  <meta name="google" content="notranslate">
  <meta name="google-site-verification" content="OwynCvJj6eU9FfLBLGGhNEvTjTXLLzcSdsFSSzSacMA" />

  <!-- Fonts -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&family=Oswald:wght@300;400&subset=latin-ext&display=swap"
        media="print"
        onload="this.media='all'; this.onload=null;">
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400&family=Oswald:wght@300;400&subset=latin-ext&display=swap">
  </noscript>

  <!-- Priority font icons -->
  <style>
    <%# The inline css template name differs from www source because rails 7.0 disallows .'s in the name %>
    <%= render partial: 'shared/www/head/head-styles-fontawesome', formats: :css %>
  </style>
  <script>
    FontAwesomeConfig = {
      mutateApproach: 'sync'
    }
  </script>

  <!-- CSS -->
  <%= vite_stylesheet_tag "priority.scss", "base.scss", media: "all", 'data-turbolinks-track': 'reload' %>

  <!-- Head scripts -->
  <%= vite_javascript_tag 'priority', 'icons', 'data-turbolinks-track': 'reload', async: true %>

  <script>
    <%# Override the domain we use to reach the dropdowns.json before JS is loaded %>
    window.untLib ??= {};
    window.untLib.dropdownConfig ??= {
      baseURL: "https://library.unt.edu",
    };
  </script>
  <%= content_for :head_scripts %>
  <% content_for(:head_scripts) do %>
    <%= vite_javascript_tag 'base', 'data-turbolinks-track': 'reload', defer: true %>
  <% end %>

  <!-- Favicons -->
  <link rel="icon" href="<%= vite_asset_path 'images/icons/favicon.ico' %>" sizes="16x16" type="image/x-icon">
  <link rel="icon" href="<%= vite_asset_path 'images/icons/favicon.svg' %>" type="image/svg+xml">
  <link rel="apple-touch-icon" href="<%= vite_asset_path 'images/icons/apple-touch-icon.png' %>" sizes="180x180">

  <%= csrf_meta_tags %>

  <%= content_for(:head) %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials[Rails.env.to_sym][:google_analytics] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= Rails.application.credentials[Rails.env.to_sym][:google_analytics] %>');
  </script>

  <!-- Additional scripts -->
  <%= render 'shared/www/footer/scripts' %>
</head>
