<!DOCTYPE html>
<html lang="en" translate="no" class="no-js">
<%= render partial: 'shared/head/head' %>
<body data-blacklight-context="<%= action_name %>" class="<%= render_body_class %>" data-ga-tracking-id="<%= Rails.application.credentials[Rails.env.to_sym][:google_analytics] %>">
  <%= render '/shared/chat-widget' %>

  <!--[if lte IE 10]>
  <p class="browser-upgrade">Your browser is <strong>outdated</strong>. This site will not function in it. Please <a href="https://browsehappy.com/">upgrade</a> to improve your experience and security.</p>
  <![endif]-->

  <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
    <%= link_to t('blacklight.skip_links.search_field'), '#q', class: 'sr-only sr-only-focusable skip-link rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'sr-only sr-only-focusable skip-link rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= content_for(:skip_links) %>
  </nav>

  <%= render partial: 'shared/header/header' %>

  <%# Temporary banner to display on the site %>
  <% if Rails.env.production? or Rails.env.development? %>
    <%= render 'shared/announcement_banner' %>
  <% end %>

  <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

  <div id="main-container" class="<%= container_classes %> main-container">
    <div class="row">
      <%= content_for(:container_header) %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>

  <%= render partial: 'shared/drawer/unt' %>
  <%= render partial: 'shared/drawer/libraries' %>
  <%= render partial: 'shared/drawer/common' %>
  <%= render partial: 'shared/drawer/search' %>
  <%= render partial: 'shared/drawer/main-menu-scrolled-mobile' %>
  <%= render partial: 'shared/footer/social' %>
  <%= render partial: 'shared/footer/footer' %>
  <%= render partial: 'shared/footer/colophon' %>
  <%= render partial: 'shared/footer/scripts' %>
  <%= render partial: 'shared/modal' %>
</body>
</html>
