<!DOCTYPE html>
<html lang="en" translate="no" class="no-js">
<%# TODO: www renders common SVG symbols here for performance %>
<%= render partial: 'shared/head/head' %>
<body data-blacklight-context="<%= action_name %>" class="<%= render_body_class %>">
  <%= render 'shared/www/utils/svg-symbols' %>
  <%= render 'shared/www/offcanvas/search' %>
  <%= render 'shared/www/header/skip-links' %>
  <% if Rails.env.production? or Rails.env.development? %>
    <%= render 'shared/www/header/global-alert' %>
  <% end %>
  <%= render 'shared/www/header/top-bar' %>
  <%= render 'shared/www/header/header' %>
  <%= render 'shared/www/header/navbar-primary' %>
  <%= render 'shared/www/header/navbar-secondary' %>

  <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

  <div id="main-container" class="<%= container_classes %> main-container">
    <div class="row">
      <%= content_for(:container_header) %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>

  <%= render 'shared/www/footer/footer' %>
  <%= render 'shared/www/offcanvas/chat' %>

  <%= render 'shared/footer/scripts' %>
</body>
</html>
