<% url_home = "https://library.unt.edu" %>

<nav aria-label="breadcrumb" class="">
  <ol class="breadcrumb justify-content-end">
    <li class="breadcrumb-item">
      <a class="btn btn-link btn-sm p-0"
         ga-on="click"
         ga-event-category="breadcrumb"
         ga-event-action="<%= action_name %>"
         ga-event-label="home"
         ga-event-value="1"
         href="<%= url_home %>">home</a></li>

    <li class="breadcrumb-item">
      <a class="btn btn-link btn-sm p-0"
         ga-on="click"
         ga-event-category="breadcrumb"
         ga-event-action="<%= action_name %>"
         ga-event-label="Discover"
         ga-event-value="1"
         href="/">Discover</a></li>

    <% if @search_context && current_search_session %>
      <li class="breadcrumb-item">
        <%= link_back_to_catalog label: 'Results',
                                 class: 'btn btn-link btn-sm p-0',
                                 'ga-on': 'click',
                                 'ga-event-category': 'breadcrumb',
                                 'ga-event-action': action_name,
                                 'ga-event-label': 'Results',
                                 'ga-event-value': '1' %>
      </li>
      <% if action_name == 'show' %>
        <% if @search_context %>
          <li class="breadcrumb-item">
            <%= link_to_document @document, item_page_entry_info,
                                class: 'btn btn-link btn-sm p-0',
                                'ga-on': 'click',
                                'ga-event-category': 'breadcrumb',
                                'ga-event-action': action_name,
                                'ga-event-label': 'Result count',
                                'ga-event-value': '1',
                                :counter => search_session['counter'] %>
          </li>
          <% if @search_context[:prev] || @search_context[:next] %>
            <li class="breadcrumb-item">
              <div class="page-links">
                <%= link_to_previous_document @search_context[:prev],
                                              'ga-on': 'click',
                                              'ga-event-category': 'breadcrumb',
                                              'ga-event-action': action_name,
                                              'ga-event-label': 'previous document',
                                              'ga-event-value': '1' %>
                |
                <%= link_to_next_document @search_context[:next],
                                          'ga-on': 'click',
                                          'ga-event-category': 'breadcrumb',
                                          'ga-event-action': action_name,
                                          'ga-event-label': 'next document',
                                          'ga-event-value': '1' %>
              </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
     <% if action_name == 'show' %>
        <li class="breadcrumb-item">
          <%= link_to_document @document, "This #{@document.resource_type_name}",
                               class: 'btn btn-link btn-sm p-0',
                               'ga-on': 'click',
                               'ga-event-category': 'breadcrumb',
                               'ga-event-action': action_name,
                               'ga-event-label': 'This item',
                               'ga-event-value': '1' %>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>