<% url_home = "https://library.unt.edu" %>
<%= debug @search_context %>

<nav aria-label="breadcrumb" class="">
  <ol class="breadcrumb justify-content-end">
    <li class="breadcrumb-item">
      <a class="btn btn-link btn-sm p-0" data-event-category="link"
         data-event-action="breadcrumb"
         data-event-label="1"
         href="<%= url_home %>">home</a></li>

    <li class="breadcrumb-item">
      <a class="btn btn-link btn-sm p-0"
         data-event-category="link"
         data-event-action="breadcrumb"
         data-event-label="2"
         href="/">Discover</a></li>

    <% if current_search_session %>
      <li class="breadcrumb-item">
        <%= link_back_to_catalog label: 'Results',
                                 class: 'btn btn-link btn-sm p-0',
                                 'data-event-category': 'link',
                                 'data-event-action': 'breadcrumb',
                                 'data-event-label': '3' %>
      </li>
      <% if params[:action] == 'show' %>
        <% if @search_context %>
          <li class="breadcrumb-item">
            <%= link_to_document @document, item_page_entry_info,
                                class: 'btn btn-link btn-sm p-0',
                                'data-event-category': 'link',
                                'data-event-action': 'breadcrumb',
                                'data-event-label': '4',
                                :counter => search_session['counter'] %>
          </li>
          <% if @search_context[:prev] || @search_context[:next] %>
            <li class="breadcrumb-item">
              <div class="page-links">
                <%= link_to_previous_document @search_context[:prev] %>
                |
                <%= link_to_next_document @search_context[:next] %>
              </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
     <% if params[:action] == 'show' %>
        <li class="breadcrumb-item">
          <%= link_to_document @document, "This #{@document.resource_type_name}",
                               class: 'btn btn-link btn-sm p-0',
                               'data-event-category': 'link',
                               'data-event-action': 'breadcrumb',
                               'data-event-label': '4' %>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>