<%# Breadcrumbs and Dropdown %>
<%
  html_classes = {}
  html_classes['secondary'] = load_yaml_data('www/html_classes')['navbars']['secondary']
  html_classes['breadcrumbs'] = load_yaml_data('www/html_classes')['breadcrumbs']
  html_classes['hours'] = load_yaml_data('www/html_classes')['hours']
  site = load_yaml_data('www/config')
  urls = load_yaml_data('www/urls')
%>

<nav aria-label="breadcrumbs and hours"
     class="<%= html_classes['secondary']['container'] %>">
  <div class="<%= html_classes['secondary']['inner_container'] %>">
    <ol class="<%= html_classes['breadcrumbs']['list'] %>">
      <li class="<%= html_classes['breadcrumbs']['item'] %>">
        <a class="<%= html_classes['breadcrumbs']['link'] %>"
           href="<%= site['parent_url'] %>">
          Home
        </a>
      </li>

      <li class="<%= html_classes['breadcrumbs']['item'] %>">
        <a class="<%= html_classes['breadcrumbs']['link'] %>"
           href="/">
          <%= site['title'] %>
        </a>
      </li>

      <% if current_search_session %>
        <li class="<%= html_classes['breadcrumbs']['item'] %>">
          <%= link_back_to_catalog({label: 'Results',
                                    class: html_classes['breadcrumbs']['link']}) %>
        </li>
        <% if @document %>
          <%= render Blacklight::SearchContext::ServerItemPaginationComponent.new(search_context: @search_context, search_session: search_session, current_document: @document) %>
        <% end %>
      <% else %>
        <% if action_name == 'show' %>
          <li class="<%= html_classes['breadcrumbs']['current_item'] %>">
            <%= link_to_document @document, "This #{@document.resource_type_name}",
                                 class: html_classes['breadcrumbs']['link_current'] %>
          </li>
        <% end %>
      <% end %>

      <% if params[:action] == 'advanced_search' %>
        <li class="<%= html_classes['breadcrumbs']['item'] %>">
          <%= link_to 'Advanced search', advanced_path,
                      class: html_classes['breadcrumbs']['link'] %>
        </li>
      <% end %>
    </ol>

    <div class="<%= html_classes['hours']['wrapper'] %>"
         id="breadcrumb-hours-item-1-dropdown">
      <a href="<%= urls['calendar']['hours'] %>"
         id="breadcrumb-hours-item-1"
         class="<%= html_classes['hours']['btn'] %>"
         data-bs-toggle="dropdown">
        <%= render partial: 'shared/www/utils/svg', locals: {
          use: "svg-clock",
          viewBox: "0 0 512 512",
          decorative: true,
          title: "clock",
        } %>
        <span class="d-none d-lg-inline">
          Willis:
        </span>
        <span id="todays-date"
              class="d-none d-xl-inline">
        </span>
        <span class="live-hours d-none d-lg-inline"
              data-untl-hours-id="12207"></span>
      </a>
    </div>
  </div>
</nav>
