<%  # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
%>

<a href="<%= options[:remove] %>"
   class="btn btn-sm applied-filter constraint <%= options[:classes].join(" ") if options[:classes] %> <%= "disabled" if options[:remove].blank? %>"
   role="button"
   ga-on="click"
   ga-event-category="facet removed - button"
   ga-event-action="<%= label %>"
   ga-event-label="<%= value.gsub(/"/, '&quot;') %>"
   ga-event-value="1"
 <%= 'aria-disabled="true"' if options[:remove].blank? %>>
  <span class="constraint-value">
    <% unless label.blank? %>
      <span class="filter-name"><%= label %></span>
    <% end %>
    <% unless value.blank? %>
      <%= content_tag :span, value, class: 'filter-value', title: value %>
    <% end %>
  </span>
  <% unless options[:remove].blank? %>
    <%= content_tag :i, '', class: 'fa fa-times-circle remove-icon',
                    'aria-hidden': true, title: accessible_remove_label(label, value) %>
  <%- end -%>
</a>
