<%# container for a single doc -%>
<% doc_presenter = index_presenter(document) %>

<%= tag.article class: "document row #{render_document_class document} document-position-#{document_counter} ",
                data: {
                    document_counter: document_counter,
                    doc_id: document.id.to_s.parameterize
                }.merge(document.identifier_data),
                "itemscope": true,
                "itemtype": document.itemtype do -%>

  <span class="hover-counter text-muted">
    <%= document_counter_with_offset(document_counter) %>
  </span>

  <%# image or icon for item %>
  <div class="thumbnail-wrapper d-none d-lg-block col-auto" aria-hidden="true">
    <%= render_document_partial document, 'thumbnail', document_counter: document_counter %>
  </div>

  <div class="col">
    <%= render_document_partial document, 'index_header', document_counter: document_counter %>
    <div class="document-metadata">
      <%= render_document_partial document, 'index', document_counter: document_counter %>
    </div>
  </div>
  <div class="col-12 col-xl-4">
    <%= render_document_partial document, 'index_availability', document_counter: document_counter %>
  </div>
<% end -%>
