<% unless t('home.about.title').blank? %>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= t('home.about.title') %></h1>
      <div class="text-muted border-left pl-3">
        <%= t('home.about.content').html_safe %>
      </div>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= t('home.featured.title') %></h1>
    <div class="row other-resources">
      <% t('home.featured.items').each do |item| %>
        <div class="col-12 col-sm-6 col-xl-4">
          <a href="<%= item[:link_url] %>"
            ga-on="click"
            ga-event-category="link - home"
            ga-event-action="<%= item[:title] %>"
            ga-event-label="<%= item[:link_url] %>"
            ga-event-value="1">
            <div class="featured-img-container">
              <picture>
                <source type="image/webp"
                        srcset="<%= asset_pack_path item[:lq_webp_img_src] if item[:lq_webp_img_src].present? %>"
                        data-srcset="<%= asset_pack_path item[:webp_img_src] if item[:webp_img_src].present? %>">
                <source type="image/jpeg" data-scrset="<%= asset_pack_path item[:img_src] %>">
                <img class="img-fluid lazyload blur-up w-100 featured-img"
                     src="<%= asset_pack_path item[:lq_img_src] if item[:lq_img_src].present? %>"
                     data-src="<%= asset_pack_path item[:img_src] %>"
                     alt="<%= item[:img_alt] %>">
              </picture>
            </div>
          </a>
          <h5 class="mt-2"><a href="<%= item[:link_url] %>" target="_blank"><%= item[:title] %></a></h5>
          <p><%= item[:summary] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
