<% content_for(:search_title) do %>
  <h1>Start searching now:</h1>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= t('home.featured.title') %></h1>
    <div class="row">
      <% t('home.featured.items').each do |item| %>
        <div class="col-12 col-sm-6 col-xl-4">
          <a href="<%= item[:link_url] %>">
            <img class="img-fluid"
                 src="<%= asset_pack_path item[:img_src] %>"
                 alt="<%= item[:img_alt] %>">
          </a>
          <h5 class="mt-2"><a href="<%= item[:link_url] %>" target="_blank"><%= item[:title] %></a></h5>
          <p><%= item[:summary] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
