<% doc_presenter = index_presenter(document)
   creator = doc_presenter.fields_to_render.select { |name, f| f[:display] == :creator }
   contrib = doc_presenter.fields_to_render.select { |name, f| f[:display] == :contrib } %>
<%# default partial to display solr document fields in catalog index view -%>
<dl class="dl-invert">
  <%# Creator and Contributor fields, combined %>
  <div class="result__field">
    <% creator.each do |field_name, field| -%>
      <dt class="blacklight-<%= field_name.parameterize %> result__label sr-only"><%= render_index_field_label document, field: field_name %></dt>
      <dd class="blacklight-<%= field_name.parameterize %> result__value"><%= doc_presenter.field_value field %><%= '; ' unless contrib.empty? %></dd>
    <% end -%>
    <% contrib.each do |field_name, field| -%>
      <dt class="blacklight-<%= field_name.parameterize %> result__label sr-only"><%= render_index_field_label document, field: field_name %></dt>
      <dd class="blacklight-<%= field_name.parameterize %> result__value"><%= doc_presenter.field_value field %></dd>
    <% end -%>
  </div>

  <%# Priority fields %>
  <% doc_presenter.fields_to_render.select { |name, f| f[:display] == :priority }.each do |field_name, field| -%>
    <div class="result__field">
      <dt class="blacklight-<%= field_name.parameterize %> result__label muted<% if field[:no_label] %> sr-only<% end %>">
        <%= render_index_field_label document, field: field_name %>
      </dt>
      <dd class="blacklight-<%= field_name.parameterize %> result__value muted"><%= doc_presenter.field_value field %></dd>
    </div>
  <% end -%>

  <%# Resource type field %>
  <% doc_presenter.fields_to_render.select { |name, f| f[:display] == :resource_type }.each do |field_name, field| -%>
    <div class="result__field">
      <dt class="blacklight-<%= field_name.parameterize %> result__label muted<% if field[:no_label] %> sr-only<% end %>">
        <%= render_index_field_label document, field: field_name %>
      </dt>
      <dd class="blacklight-<%= field_name.parameterize %> result__value muted">
        <i class="fa fa-<%= document.resource_type_icon %>"></i>
        <%= doc_presenter.field_value field %></dd>
    </div>
  <% end -%>

  <%# First publication statement field %>
  <% first_pub_name, first_pub_value = doc_presenter.fields_to_render.select { |name, f| f[:display] == :pub_statements }.first %>
  <%# doc_presenter.fields_to_render.select { |name, f| f[:display] == :pub_statements }.each do |field_name, field| -%>
    <div class="result__field">
      <dt class="blacklight-<%= first_pub_name.parameterize %> result__label muted<% if first_pub_value[:no_label] %> sr-only<% end %>">
        <%= render_index_field_label document, field: first_pub_value %>
      </dt>
      <dd class="blacklight-<%= first_pub_name.parameterize %> result__value muted"><%= doc_presenter.field_value first_pub_value %></dd>
    </div>
  <%# end -%>

  <%# Fields with no display value, but set to render in catalog_controller.rb %>
  <% doc_presenter.fields_to_render.select { |name, f| f[:display].blank? }.each do |field_name, field| -%>
    <div class="result__field">
      <dt class="blacklight-<%= field_name.parameterize %> result__label muted <% if field[:no_label] %>sr-only<% end %>">
        <%= render_index_field_label document, field: field_name %>
      </dt>
      <dd class="blacklight-<%= field_name.parameterize %> result__value muted"><%= doc_presenter.field_value field %></dd>
    </div>
  <% end -%>

</dl>
