<% doc_presenter = index_presenter(document) %>
<%# default partial to display solr document fields in catalog index view -%>
<dl class="document-metadata dl-invert row">

  <% doc_presenter.fields_to_render.select { |name, f| f[:display].blank? }.each do |field_name, field| -%>
    <div class="result__field">
      <dt class="blacklight-<%= field_name.parameterize %> result__label"><%= render_index_field_label document, field: field_name %></dt>
      <dd class="blacklight-<%= field_name.parameterize %> result__value"><%= doc_presenter.field_value field %></dd>
    </div>
  <% end -%>

  <% doc_presenter.fields_to_render.select { |name, f| f[:display] == :pub_statements }.each do |field_name, field| -%>
    <div class="result__field">
      <dt class="blacklight-<%= field_name.parameterize %> result__label text-muted"><%= render_index_field_label document, field: field_name %></dt>
      <dd class="blacklight-<%= field_name.parameterize %> result__value text-muted font-italic small">
        <% if document[field_name].count <= 1 %>
          <%= document[field_name][0] %>
        <% else %>
          <span class="more-min"><%= document[field_name][0] %></span>
          <span class="more-max d-none"><%= doc_presenter.field_value field %></span>
          <a href="#" onclick="return false" class="reveal-more">more...</a>
        <% end %>
      </dd>
    </div>
  <% end -%>
  <%#= debug doc_presenter %>

</dl>
