<% items = json_str_to_array(document[:items_json])
   id = document[:id]
   counter = document_counter_with_offset(document_counter)%>

<div class="item-availability d-flex flex-column">
  <% if document_online_urls document %>
    <div class="result__field d-flex flex-column"
         data-item-id=""
         data-item-location>
      <span class="blacklight-availability result__value flex-column text-center">
        <%= render_online_button(document, counter) %>
        <%= render_online_text(document) %>
      </span>
    </div>
  <% end %>

  <% items.each do |item| %>
    <div class="result__field d-flex flex-column"
         <%= item['i'].blank? ? "data-no-api-request" : "data-item-id=#{item['i']}" %>
         data-item-call-number="<%= item['c'] %><%= " #{item['v']}" if item['v'].present? %>"
         data-item-location="<%= item['l'] %>"
         data-item-barcode="<%= item['b'] %>"
         data-item-notes="<%= item['n'] %>"
         data-bib-requestability="<%= item['r'] %>">
      <%# Status and Location Information %>
      <span class="blacklight-availability result__value flex-column text-center">
        <%= render_item_button(document, counter, item) %>
        <%= render_availability_text(item) %>
      </span>
      <%# Call Number %>
      <%= render_call_number(item) %>
    </div>
  <% end %>
  <%# Notes %>
  <%= render_notes(items) %>
  <%# "More Available Button" %>
  <%= render_more_available(document, counter) %>
</div>
