<%
  html_classes = load_yaml_data('www/html_classes')['title']
%>

<div class="<%= html_classes['title_outer'] %>">
  <div class="<%= html_classes['title_wrapper'] %>">
    <div class="<%= html_classes['title_container'] %> w-xl-90">
      <div class="<%#= html_classes['inner'] %> d-lg-flex justify-content-center">
        <div class="position-relative z-2 align-self-center flex-grow-1">
          <%= form_tag search_catalog_url, method: :get, class: 'search-query-form  search__form d-flex mb-4', role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
            <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>

            <div class="input-group">
              <label for="q" class="form-label search__label visually-hidden"><%= t('blacklight.search.form.search.label') %></label>
              <%= text_field_tag :q, params[:q],
                                 placeholder: t('blacklight.search.form.search.placeholder'),
                                 class: "search-q q form-control form-control-lg flex-grow-1 rounded-start dashed-focus-inverted",
                                 id: "q",
                                 autofocus: presenter.autofocus?,
                                 data: { autocomplete_enabled: presenter.autocomplete_enabled?,
                                         autocomplete_path: search_action_path(action: :suggest) }  %>

              <% if blacklight_config.search_fields.length > 1 %>
                <div class="dropdown d-sm-block me-3" id="searchFieldDropdownGroup">
                  <button class="btn btn-light btn-lg dropdown-toggle search__btn" type="button" id="search-fields" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-none d-sm-inline">
                      <%= t('blacklight.search.form.search_field.label') %>
                      <span class="selected"><%= dropdown_label_for_search_field(params[:search_field]) %></span>
                    </span>
                  </button>
                  <%= bootstrap_select_tag(:search_field,
                                           bootstrap_options_for_select(search_fields, h(params[:search_field])),
                                           title: t('blacklight.search.form.search_field.title'),
                                           # type: "button",
                                           id: "search_field_dropdown",
                                           class: "dropdown-menu dropdown-menu-right",
                                           'aria-labelledby': "search-fields") %>

                  <%= hidden_field_tag :search_field, (params[:search_field] || search_fields.first.last) %>
                </div>
              <% elsif search_fields.length == 1 %>
                <%= hidden_field_tag :search_field, search_fields.first.last %>
              <% end %>
            </div>
              <button type="submit" class="btn btn-lg btn-unt-green search-btn d-flex align-items-center" id="search">
                <i class="fas fa-magnifying-glass me-2"></i>
                <span class="submit-search-text d-none d-sm-inline"><%= t('blacklight.search.form.submit') %></span>
              </button>
          <% end %>

          <div class="pre-filter-btn-group btn-group btn-group-lg d-flex flex-wrap rounded bg-dark-charcoal" role="group" data-bs-theme="dark" aria-label="Additional search options">
            <%= link_to blacklight_advanced_search_engine.advanced_search_path, class: 'advanced_search btn fs-6' do %>
              <i class="icon fal fa-search"></i>
              Advanced Search
            <% end %>
            <% prefilter_hash.each do |key, value| %>
              <div class="btn-group flex-fill d-none d-md-flex" role="group">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="icon fal fa-<%= value['icon'] %>"></i>
                  <%= value['label'] %>
                </button>
                <ul class="dropdown-menu bg-dark-charcoal">
                  <% value['links'].each do |link| %>
                    <% if link['divider'] %>
                      <li class="dropdown-divider"></li>
                    <% else %>
                      <li>
                        <%= render_prefilter_link(link, value['label']) %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

