<% @page_title = t('blacklight.search.page_title.title', :total_num => get_number_search_results(@response), :constraints => render_search_to_page_title(params), :application_name => application_name) %>

<% content_for(:head) do -%>
  <%= render "catalog/opensearch_response_metadata", response: @response %>
  <%= rss_feed_link_tag %>
  <%= atom_feed_link_tag %>
  <%= json_api_link_tag %>
<% end %>

<% content_for(:container_header) do -%>
  <h1 class="sr-only top-content-title"><%= t('blacklight.search.header') %></h1>
<% end %>

<% content_for(:search_title) do %>
  <%= render 'search_results_num_header' %>
<% end %>

<%# Instead of being the content yield, this content replaces the header in blacklight.html.erb %>
<% content_for(:search_results) do %>
  <%= render 'search_header' %>

  <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

  <%- if @response.empty? %>
    <%= render "zero_results" %>
  <%- elsif render_grouped_response? %>
    <%= render_grouped_document_index %>
  <%- else %>
    <%= render_document_index %>
  <%- end %>

  <%= render 'results_pagination' %>
<% end %>


