<%= form_tag search_catalog_url, method: :get, class: 'search-query-form  search__form', role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
  <%= render Blacklight::HiddenSearchStateComponent.new(params: search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>

  <label for="q" class="search__label <% if request.original_url == root_url %>sr-only<% end %>"><%= t('blacklight.search.form.search.label') %></label>
  <div class="input-group">
    <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'),
                       class: "search-q q form-control search__input", id: "q", autofocus: presenter.autofocus?,
                       data: { autocomplete_enabled: presenter.autocomplete_enabled?,
                               autocomplete_path: search_action_path(action: :suggest) }  %>

    <div class="input-group-append">
    <% if blacklight_config.search_fields.length > 1 %>
      <div class="dropdown d-sm-block" id="searchFieldDropdownGroup">
        <button class="btn dropdown-toggle search__btn" type="button" id="search-fields" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="d-none d-sm-inline">
            <%= t('blacklight.search.form.search_field.label') %>
            <span class="selected"><%= dropdown_label_for_search_field(params[:search_field]) %></span>
          </span>
        </button>
        <%= bootstrap_select_tag(:search_field,
                                 bootstrap_options_for_select(search_fields, h(params[:search_field])),
                                 title: t('blacklight.search.form.search_field.title'),
                                 # type: "button",
                                 id: "search_field_dropdown",
                                 class: "dropdown-menu dropdown-menu-right",
                                 'aria-labelledby': "search-fields") %>
      </div>
        <%= hidden_field_tag :search_field, (params[:search_field] || search_fields.first.last) %>
    <% elsif search_fields.length == 1 %>
      <%= hidden_field_tag :search_field, search_fields.first.last %>
    <% end %>

      <button type="submit" class="btn btn-primary search-btn" id="search">
        <i class="fas fa-search"></i>
        <span class="submit-search-text d-none d-sm-inline"><%= t('blacklight.search.form.submit') %></span>
      </button>
    </div>
  </div>

  <div class="row justify-content-between">
    <div id="searchBarTips" class="col order-first mt-3 d-none d-sm-block">
      <% t('blacklight.search.tips').shuffle.each_with_index do | item, index | %>
        <div class="search-tip text-muted font-italic <%= 'current-tip' if index == 0 %>"><strong>Tip:</strong> <%= item.html_safe %></div>
      <% end %>
    </div>

    <div class="col-auto order-last mt-3">
      <%# TODO: add existing search state to advanced search %>
      <%= link_to 'Advanced search', blacklight_advanced_search_engine.advanced_search_path, class: 'advanced_search'%>
    </div>
    <div class="col-auto order-last mt-3 d-sm-none d-inline">
      <a class="" href="#facet-panel-collapse" data-toggle="collapse" aria-controls="facet-panel-collapse" aria-expanded="false" aria-label="Toggle filters">
        Apply search filters
      </a>
    </div>
  </div>

  <% if request.original_url == root_url %>
    <hr>
    <%= render partial: 'search_quick_filters' %>
  <% end %>

<% end %>
