<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<%# TODO: Move items to separate categories and UI locations %>
<%# if show_doc_actions? %>
  <div class="card show-tools">
    <h3 class="card-header show-tools-heading"><%= t('blacklight.tools.title') %></h3>

    <div class="card-body show-tools-values list-group list-group-flush">
      <div class="list-group-item show-tools-item catalog-tool">
        <a id="catalogLink" class="nav-link" target="_blank" href="https://iii.library.unt.edu/record=<%= @document.id.to_s.parameterize %>">View in Catalog</a>
      </div>

      <%= render_show_doc_actions @document do |config, inner| %>
        <div class="list-group-item show-tools-item <%= config.key %>">
          <%= inner %>
        </div>
      <% end %>

      <% unless @document[:id].nil? -%>
        <div class="list-group-item show-tools-item refworks-tool">
          <%= link_to_request_refworks(@document) %>
        </div>

        <div class="list-group-item show-tools-item illiad-tool">
          <%= link_to_request_illiad(@document) %>
        </div>
      <% end -%>

    </div>
  </div>
<%# end %>
