<% document ||= @document
   id = document[:id]
   doc_presenter = show_presenter(document)
   items = document[:items_json].nil? ? nil : json_str_to_array(document[:items_json])
%>
<% unless items.nil? %>
<div class="card item-availability">
  <div class="card-header">Availability</div>
  <div class="card-body">
    <div class="row">
      <div class="col blacklight-location result__label">Location</div>
      <div class="col blacklight-call-number result__label">Call Number</div>
      <div class="col blacklight-availability result__label">Availability</div>
      <div class="col blacklight-request result__label d-none">Request</div>
      <% if items_have_notes?(items) %>
        <div class="col blacklight-notes result__label">Notes</div>
      <% end %>
    </div>
    <% if items.nil? -%>
      <div class="row"
          data-item-call-number="<%= document[:main_call_number] %>">
        <div class="col blacklight-location result__value">Location TBD</div>
        <div class="col blacklight-call-number result__value"><%= document[:main_call_number] || 'N/A' %></div>
        <div class="col blacklight-availability result__value">Checking availability</div>
      </div>
    <% else %>
      <% items.each do |item| %>
        <div class="row item-row"
             data-item-id="<%= item['i'] %>"
             data-item-call-number="<%= item['c'] %>"
             data-item-barcode="<%= item['b'] %>"
             data-item-notes="<%= item['n'] %>"
             data-item-requestability="<%= item['r'] %>">
          <div class="col blacklight-location result__value">Location TBD</div>
          <div class="col blacklight-call-number result__value"><%= item['c'] || 'N/A' %></div>
          <div class="col blacklight-availability result__value">Checking availability</div>
          <div class="col blacklight-request result__value d-none">
            <% unless item['r'].nil? %>
              <%= link_to_request_item document, item %>
            <% end %>
          </div>
          <% if items_have_notes?(items) %>
            <div class="col blacklight-notes result__value">
              <% unless item['n'].nil? %>
                <% item['n'].each do |note| %>
                  <%= note %><br>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
