<%# render general fields without :display property %>
<% document ||= @document
   id = document[:id]
   doc_presenter = show_presenter(document)
%>

<div class="card item-more-details">
  <div class="card-body">
    <h3 class="card-title <%= display_name.parameterize %>-heading"><%= display_name.titlecase %></h3>
    <dl class="dl-invert document-metadata">
      <% fields.each do |field_name, field, field_presenter| -%>
        <div class="row result__field">
          <dt class="col-lg-4 col-xl-3 blacklight-<%= field_name.parameterize %> result__label"><%= render_document_show_field_label document, label: field_presenter.label, field: field_name %></dt>
          <dd class="col blacklight-<%= field_name.parameterize %> result__value"><%= field_presenter.render %></dd>
        </div>
      <% end -%>
    </dl>
  </div>
</div>