<div class="row item-row"
     data-item-id="<%= item['i'] %>"
     data-item-call-number="<%= item['c'] %>"
     data-item-barcode="<%= item['b'] %>"
     data-item-notes="<%= item['n'] %>"
     data-item-requestability="<%= item['r'] %>">
  <div class="col blacklight-location result__value">Location TBD</div>
  <div class="col blacklight-call-number result__value"><%= item['c'] || 'N/A' %></div>
  <div class="col blacklight-availability result__value">Checking availability</div>
  <div class="col blacklight-request result__value d-none">
    <% unless item['r'].nil? %>
      <%= link_to_request_item document, item %>
    <% end %>
  </div>
  <% if items_have_notes?(items) %>
    <div class="col blacklight-notes result__value">
      <% unless item['n'].nil? %>
        <% item['n'].each do |note| %>
          <%= note %><br>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>