<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<%# TODO: Move items to separate categories and UI locations %>
<%# if show_doc_actions? %>
  <div class="card show-tools">
    <ul class="card-body show-tools-values list-group list-group-flush list-group-hover list-group-striped">
      <%= render(Blacklight::Document::ActionsComponent.new(
        document: @document, tag: 'ul', classes: 'list-group list-group-flush', wrapping_tag: 'li',
        wrapping_classes: 'list-group-item', actions: document_actions(@document),
        url_opts: Blacklight::Parameters.sanitize(params.to_unsafe_h))) %>
      <%# TODO: translate render_show_doc_actions params to component above %>
      <%#= render_show_doc_actions @document do |config, inner| %>
<!--        <li class="list-group-item show-tools-item <%#= config.key %>" data-tool-item="<%#= config.key %>">-->
          <%#= inner %>
<!--        </li>-->
      <%# end %>

      <% unless @document[:id].nil? -%>
        <li class="list-group-item show-tools-item refworks-tool" data-tool-item="refworks">
          <i class="fa fa-fw fa-file-alt"></i><%= link_to_request_refworks(@document) %>
        </li>

        <%# TODO: add an actual "should_link_ILL" function %>
        <% unless Rails.application.credentials[Rails.env.to_sym][:COVID_RESTRICTED] or @document[:resource_type] == 'equipment' -%>
          <li class="list-group-item show-tools-item illiad-tool" data-tool-item="illiad">
            <i class="fa fa-fw fa-file-import"></i><%= link_to_request_illiad(@document) %>
          </li>
        <% end -%>
      <% end -%>

      <% unless @document[:oclc_numbers].nil? -%>
        <li class="list-group-item show-tools-item citation-tool" data-tool-item="citation">
          <i class="fa fa-fw fa-retweet"></i><%= link_to_worldcat_citations(@document) %>
        </li>
      <% end -%>

      <li class="list-group-item show-tools-item related-articles-tool" data-tool-item="related-articles">
        <i class="fad fa-fw fa-search"></i><%= link_to_summon_search(@document) %>
      </li>

      <li class="list-group-item show-tools-item google-scholar-tool" data-tool-item="google-scholar">
        <i class="fab fa-fw fa-google"></i><%= link_to_google_scholar_search(@document) %>
      </li>

      <li class="list-group-item show-tools-item borrow-info-tool" data-tool-item="borrow-info">
        <i class="fal fa-fw fa-barcode-read"></i><%= link_to 'Borrowing Info',
                                                             'https://library.unt.edu/services/borrowing/',
                                                             class: 'nav-link',
                                                             id: 'borrowingInfoLink',
                                                             target: '_blank',
                                                             rel: 'noopener',
                                                             'ga-on': 'click',
                                                             'ga-event-category': 'Bib Record',
                                                             'ga-event-action': 'Tools link click',
                                                             'ga-event-label': 'Borrowing Info',
                                                             'ga-event-value': '1' %>
      </li>

      <li class="list-group-item show-tools-item catalog-tool" data-tool-item="catalog">
        <i class="fa fa-fw fa-scroll-old"></i><%= link_to_old_catalog(@document) %>
      </li>
    </ul>
  </div>
<%# end %>
