<div class="row result__field">
  <dt class="col-lg-4 col-xl-3 blacklight-<%= field_name.parameterize %> result__label">
            <span <%= raw("data-bs-toggle=\"tooltip\" data-bs-title=\"#{field.tooltip}\" data-bs-placement=\"left\" class=\"tooltip-nolink\"") if field.tooltip %>>
              <%= field_presenter.label %>:
            </span>
  </dt>
  <dd class="col blacklight-<%= field_name.parameterize %> result__value <%= field.classes %>"
      data-field-name="<%= field_presenter.label %>" data-card-title="<%= display_name.titlecase %>"><%= field_presenter.render %></dd>
</div>
