<% document ||= @document
   id = document[:id]
   doc_presenter = show_presenter(document)
   items = document[:items_json].nil? ? nil : json_str_to_array(document[:items_json])
%>

<div class="card">
  <div class="card-header">Availability</div>
  <div class="card-body">
    <div class="row">
      <div class="col result__label">Location</div>
      <div class="col result__label">Call Number</div>
      <div class="col result__label">Availability</div>
      <% if items_have_notes?(items) %>
        <div class="col result__label">Notes</div>
      <% end %>
    </div>
    <% if items.nil? -%>
      <div class="row">
        <div class="col">Location TBD</div>
        <div class="col"><%= document.identifier_data[:"bib-id"] %></div>
        <div class="col">ASK AT SERVICE DESK</div>
      </div>
    <% else %>
      <% items.each do |record| %>
        <div class="row"
             data-item-id="<%= record['i'] %>"
             data-item-call-number="<%= record['c'] %>"
             data-item-barcode="<%= record['b'] %>"
             data-item-notes="<%= record['n'] %>"
             data-item-requestability="<%= record['r'] %>">
          <div class="col">Location TBD</div>
          <div class="col"><%= record['c'] %></div>
          <div class="col">Availability TBD</div>
          <% if items_have_notes?(items) %>
            <div class="col">
              <% unless record['n'].nil? %>
                <% record['n'].each do |note| %>
                  <%= note %><br>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
