<% if presenter(document).respond_to?('thumbnail') && presenter(document).thumbnail.exists? && tn = presenter(document).thumbnail.thumbnail_tag({}, counter: document_counter_with_offset(document_counter)) %>
  <%= tn %>
<% else %>
  <%# Only link to the document if in index, not in show %>
  <% if params[:action] == 'show' %>
    <div class="document-thumbnail text-center">
      <i class="icon far fa-10x fa-<%= document.format_icon %>"></i>
      <span class="sr-only item-title"><%= document[:full_title] %></span>
    </div>
  <% else %>
    <%= link_to(document, class: "thumbnail-link", tabindex: "-1") do %>
      <div class="document-thumbnail text-center">
        <i class="icon far fa-10x fa-<%= document.format_icon %>"></i>
        <span class="sr-only item-title"><%= document[:full_title] %></span>
      </div>
    <% end %>
  <% end %>
<% end %>
