<% url_admissions = "https://admissions.unt.edu" %>
<% url_tours = "https://tours.unt.edu" %>
<% url_more_info = "https://admissions.unt.edu/requestinfo" %>
<% url_disclaimer = "https://www.unt.edu/disclaimer" %>
<% url_ada = "https://www.unt.edu/ada" %>
<% url_privacy = "https://www.unt.edu/privacy" %>
<% url_policy = "https://policy.unt.edu/policy/14-005" %>
<% url_required = "https://www.unt.edu/required-links" %>
<% url_unt = "https://www.unt.edu" %>

<div class="wrapper--colophon" role="contentinfo">
  <section class="colophon  container-fluid">
    <h2 class="sr-only">Additional Links</h2>
    <div class="d-none d-sm-flex justify-content-center py-3  px-md-5">
      <p>
        <a class="btn btn-success"
           href="<%= url_admissions %>"
           ga-on="click"
           ga-event-category="link - colophon"
           ga-event-action="university"
           ga-event-label="<%= url_admissions %>"
           ga-event-value="1"><span class="sr-only">UNT: </span>Apply now <i aria-hidden="true" class="fas fa-angle-right"></i></a>
        <a class="btn btn-success"
           href="<%= url_tours %>"
           ga-on="click"
           ga-event-category="link - colophon"
           ga-event-action="university"
           ga-event-label="<%= url_tours %>"
           ga-event-value="1"><span class="sr-only">UNT: </span>Schedule a tour <i aria-hidden="true" class="fas fa-angle-right"></i></a>
        <a class="btn btn-success"
           href="<%= url_more_info %>"
           ga-on="click"
           ga-event-category="link - colophon"
           ga-event-action="university"
           ga-event-label="<%= url_more_info %>"
           ga-event-value="1"><span class="sr-only">UNT: </span>Get more info <i aria-hidden="true" class="fas fa-angle-right"></i></a>
      </p>
    </div>
    <div class="text-center">
      <p><a href="<%= url_disclaimer %>"
            ga-on="click"
            ga-event-category="link - colophon"
            ga-event-action="university"
            ga-event-label="<%= url_disclaimer %>"
            ga-event-value="1"><span class="sr-only">UNT: </span>Disclaimer</a>
        | <a href="<%= url_ada %>"
             ga-on="click"
             ga-event-category="link - colophon"
             ga-event-action="university"
             ga-event-label="<%= url_ada %>"
             ga-event-value="1"><span class="sr-only">UNT: </span>AA/EOE/ADA</a>
        | <a href="<%= url_privacy %>"
             ga-on="click"
             ga-event-category="link - colophon"
             ga-event-action="university"
             ga-event-label="<%= url_privacy %>"
             ga-event-value="1"><span class="sr-only">UNT: </span>Privacy</a>
        | <a href="<%= url_policy %>"
             ga-on="click"
             ga-event-category="link - colophon"
             ga-event-action="university"
             ga-event-label="<%= url_policy %>"
             ga-event-value="1"><span class="sr-only">UNT: </span>Electronic Accessibility</a>
        | <a href="<%= url_required %>"
             ga-on="click"
             ga-event-category="link - colophon"
             ga-event-action="university"
             ga-event-label="<%= url_required %>"
             ga-event-value="1"><span class="sr-only">UNT: </span>Required Links</a>
        | <a href="<%= url_unt %>"
             ga-on="click"
             ga-event-category="link - colophon"
             ga-event-action="university"
             ga-event-label="<%= url_unt %>"
             ga-event-value="1">UNT Home</a>
        | <%= link_to 'Send Feedback', feedback_issue_url, target:'_blank', class: 'feedback feedback-url', data: { toggle: 'tooltip', title: 'Provide site feedback, library staff only' } %>
      </p>
    </div>
  </section>
</div>
<i id="spinner" style="display:none;" class="fas fa-spinner fa-spin"></i>
<a id="to-top"
   href="#top"
   class="btn btn-success btn--top"
   ga-on="click"
   ga-event-category="link - top"
   ga-event-action="page"
   ga-event-label="<%= request.original_url %>"
   ga-event-value="1"
   role="button">
  <i aria-hidden="true" class="fas fa-angle-up" data-fa-transform="grow-8 up-4"></i>
  <span style="display:block; margin-top:3px">top</span>
</a>