<% url_home = "https://library.unt.edu" %>
<% url_unt = "https://www.unt.edu/" %>
<% url_gov = "#{url_home}/government-information/" %>
<% url_fin = "https://guides.library.unt.edu/grants" %>
<% url_telephone = "tel:9405652413" %>
<% url_ask_us = "#{url_home}/ask-us/" %>
<% url_staff_directory = "#{url_home}/people/" %>
<% url_ask_us_support = "#{url_home}/ask-us?forward=lib.support@unt.edu#email-us" %>
<% url_ask_us_facilities = "#{url_home}/ask-us?forward=Lib.Facilities@unt.edu#email-us" %>

<div class="wrapper--footer" data-turbolinks="false">
  <div id="main-footer" class="footer  container-fluid footer-container py-5 px-md-5">

    <div class="row">

      <div class="footer__lettermark d-none d-md-block col-md-3">
        <a href="<%= url_unt %>"
           rel="noopener"
           aria-label="U N T Home Site"
           ga-on="click"
           ga-event-category="link - footer - brand"
           ga-event-action="university"
           ga-event-label="<%= url_unt %>"
           ga-event-value="1">
          <img src="<%= url_home %>/assets/images/branding/unt.stacked.green.svg"
               alt="U N T Established 1890">
        </a>
      </div>

      <div class="footer__partnerships col-sm mx-4 px-4">
        <h3 class="sr-only">Partnerships</h3>
        <ul class="list-unstyled">
          <li class="media">
            <a id="footer-fdl"
               class="mr-3"
               href="<%= url_gov %>"
               rel="noopener"
               ga-on="click"
               ga-event-category="link - footer - logo"
               ga-event-action="libraries"
               ga-event-label="<%= url_gov %>"
               ga-event-value="1">
              <img class="" src="<%= url_home %>/assets/images/branding/fdl-library-blue.png" alt="Federal Depository"></a>
            <div class="media-body">The University Libraries are a designated
              <a href="<%= url_gov %>"
                 rel="noopener"
                 ga-on="click"
                 ga-event-category="link - footer - text"
                 ga-event-action="libraries"
                 ga-event-label="<%= url_gov %>"
                 ga-event-value="1">Federal Depository Library</a>.</div>
          </li>
          <li class="media my-4">
            <a id="footer-finl"
               class="mr-3"
               href="<%= url_fin %>"
               rel="noopener"
               ga-on="click"
               ga-event-category="link - footer - logo"
               ga-event-action="libraries"
               ga-event-label="<%= url_fin %>"
               ga-event-value="1">
              <img src="<%= url_home %>/assets/images/branding/foundation-center.png" alt="Funding Information Network Logo"></a>
            <div class="media-body">The University Libraries are a
              <a href="<%= url_fin %>"
                 rel="noopener"
                 ga-on="click"
                 ga-event-category="link - footer - text"
                 ga-event-action="libraries"
                 ga-event-label="<%= url_fin %>"
                 ga-event-value="1">Funding Information Network partner</a> of the Foundation Center.</div>
          </li>
        </ul>
      </div>

      <div class="footer__contact col-sm col-lg-3">
        <h2 class="sr-only">Mail</h2>
        <div class="box box-dark box-border"> <span>University Libraries</span><br>
          <span> <span>1155 Union Circle #305190</span><br>
          <span>Denton</span> , <span>TX</span> <span>76203-5017</span> </span>
        </div>

        <h2 class="sr-only">Contact</h2>
        <div><i aria-hidden="true" class="fas fa-phone fw"></i> &nbsp;
          <a id="footer-phone"
             ga-on="click"
             ga-event-category="link - footer - text"
             ga-event-action="libraries"
             ga-event-label="<%= url_telephone %>"
             ga-event-value="1"
             href="<%= url_telephone %>"><span class="sr-only">Call: </span>940.565.2413</a></div>
        <div><i aria-hidden="true" class="fas fa-envelope fw"></i> &nbsp;
          <a id="asks-us"
             ga-on="click"
             ga-event-category="link - footer - text"
             ga-event-action="libraries"
             ga-event-label="<%= url_ask_us %>"
             ga-event-value="1"
             rel="noopener"
             href="<%= url_ask_us %>"><span class="sr-only">Ask us your </span>Research Questions</a></div>
        <div><i aria-hidden="true" class="fas fa-users fw"></i> &nbsp;
          <a id="footer-staff-directory"
             ga-on="click"
             ga-event-category="link - footer - text"
             ga-event-action="libraries"
             ga-event-label="<%= url_staff_directory %>"
             ga-event-value="1"
             rel="noopener"
             href="<%= url_staff_directory %>"><span class="sr-only">University Libraries </span>Staff Directory</a></div>
        <div><i aria-hidden="true" class="fas fa-laptop fw"></i> &nbsp;
          <a id="footer-ask-tech"
             ga-on="click"
             ga-event-category="link - footer - text"
             ga-event-action="libraries"
             ga-event-label="<%= url_ask_us_support %>"
             ga-event-value="1"
             rel="noopener"
             href="<%= url_ask_us_support %>"><span class="sr-only">Email to report </span>Computer &amp; Technology Problems</a></div>
        <div><i aria-hidden="true" class="fas fa-exclamation-triangle fw"></i> &nbsp;
          <a id="ask-building"
             ga-on="click"
             ga-event-category="link - footer - text"
             ga-event-action="libraries"
             ga-event-label="<%= url_ask_us_facilities %>"
             ga-event-value="1"
             rel="noopener"
             href="<%= url_ask_us_facilities %>"><span class="sr-only">Email to report </span>Facilities Problems</a></div>
      </div>
    </div>
  </div>
</div>