<% url_home = "https://library.unt.edu" %>
<% url_login = "#{url_home}/accounts-login/" %>
<% url_ask_us = "#{url_home}/ask-us/" %>
<% url_about = "#{url_home}/about/" %>
<% url_research = "#{url_home}/research/" %>
<% url_services = "#{url_home}/services/" %>
<% url_spaces = "#{url_home}/spaces/" %>
<% url_news = "#{url_home}/news/" %>
<% url_events = "#{url_home}/events/" %>

<div class="drawer fade" id="main-menu-drawer" tabindex="-1" role="dialog" aria-labelledby="main-drawer-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog--right" role="document">
    <div class="drawer-content">
      <div class="drawer-header">
        <h2 class="drawer-title px-3" id="main-drawer-title">Menu</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times fa-lg"></i>
        </button>
      </div>

      <div class="drawer-body">
        <div class="d-flex justify-content-around" role="group" aria-label="Basic example">
          <a href="tel:9405653245"
             class="btn btn-success btn-lg w-25"
             data-event-category="link - drawer"
             data-event-action="telephone">
            <i class="fas fa-phone"></i><br/>
            <span class="small">CALL</span>
          </a>
          <a href="<%= url_ask_us %>"
             class="btn btn-success btn-lg w-25"
             data-event-category="link - drawer"
             data-event-action="libraries"
             data-event-label="<%= url_ask_us %>">
            <i class="fas fa-question"></i><br/>
            <span class="small">ASK US</span>
          </a>
          <a href="<%= url_login %>"
             class="btn btn-success btn-lg w-25"
             data-event-category="link - drawer"
             data-event-action="libraries"
             data-event-label="<%= url_login %>">
            <i class="fas fa-user"></i><br/>
            <span class="small">LOGIN</span>
          </a>
        </div>

        <div class="drawer__divider"></div>
        <a href="/"
           class="nav-item nav-link"
           data-event-category="link - drawer"
           data-event-action="libraries"
           data-event-label="/">University Libraries Home</a>
        <a href="<%= url_about %>"
           class="nav-item nav-link"
           data-event-category="link - drawer"
           data-event-action="libraries"
           data-event-label="<%= url_about %>">About</a>
        <a href="<%= url_research %>"
           class="nav-item nav-link"
           data-event-category="link - drawer"
           data-event-action="libraries"
           data-event-label="<%= url_research %>">Research</a>
        <a href="<%= url_services %>"
           class="nav-item nav-link"
           data-event-category="link - drawer"
           data-event-action="libraries"
           data-event-label="<%= url_services %>">Services</a>
        <a href="<%= url_spaces %>"
           class="nav-item nav-link"
           data-event-category="link - drawer"
           data-event-action="libraries"
           data-event-label="<%= url_spaces %>">Spaces</a>
        <a href="<%= url_news %>"
           class="nav-item nav-link"
           data-event-category="link - drawer"
           data-event-action="libraries"
           data-event-label="<%= url_news %>">News </a>
        <a href="<%= url_events %>"
           class="nav-item nav-link"
           data-event-category="link - drawer"
           data-event-action="libraries"
           data-event-label="<%= url_events %>">Events</a>

        <div class="drawer__divider"></div>

        <nav class="nav justify-content-center py-4">
          <% t('social').select { |item| item[:name] != 'rss' }.each do |item| %>
          <a class="nav-item nav-link nav-link--social"
             data-event-category="link - drawer"
             data-event-action="social"
             data-event-label="<%= item[:url] %><%= item[:id] %>"
             aria-label="<%= item[:label] %>"
             href="<%= item[:url] %><%= item[:id] %>">
            <i class="<%= item[:icon] %> fa-lg"></i>
          </a>
          <% end %>
        </nav>
      </div>
    </div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
         data-src="https://library.unt.edu/assets/images/backgrounds/drawer.png"
         class="lazyload cute d-none"
         alt="illustration of Willis Library and Hurley Administration building" />
  </div>
</div>



