<% url_unt = "https://unt.edu/" %>
<% url_my_unt = "https://my.unt.edu/" %>
<% url_learn_unt = "https://canvas.unt.edu/" %>
<% url_eagle_connect = "http://eagleconnect.unt.edu/" %>
<% url_unt_directory = "https://www.unt.edu/find-people-departments" %>
<% url_unt_map = "https://maps.unt.edu/" %>
<% url_unt_jobs = "https://www.untsystem.edu/hr-it-business-services/human-resources" %>

<div class="drawer drawer--drawer fade" id="unt-drawer" tabindex="-1" role="dialog" aria-labelledby="unt-drawer-title" aria-hidden="true" data-turbolinks="false">
  <div class="modal-dialog modal-dialog--right" role="document">
    <div class="drawer-content">
      <div class="drawer-header">
        <h2 class="drawer-title px-3" id="unt-drawer-title">UNT Quicklinks</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i aria-hidden="true" class="fas fa-times fa-lg"></i>
        </button>
      </div>
      <div class="drawer-body">

        <form id="search-unt-form"
              class="p-3"
              action="https://unt.edu/search-results"
              method="GET"
              role="search"
              aria-label="Search U N T Websites"
              autocomplete="off"
              ga-on="click"
              ga-event-category="form - search - unt"
              ga-event-action="search"
              ga-event-label="<%= request.original_url %>"
              ga-event-value="1">
          <div class="row">
            <div class="col">
              <div class="input-group">
              <input type="hidden" 
                     name="collection"
                     value="uni-nt-search">

                <input class="form-control primary-search query"
                       id="unt-q"
                       name="query"
                       aria-label="Search across the entire U N T domain."
                       type="text"
                       placeholder="Search unt.edu"
                       value="">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-success">
                  <span aria-hidden="true" class="fas fa-search"></span>
                  <span class="sr-only">Search</span>
                </button>
                </span>
              </div>
            </div>
          </div>
        </form>
        <hr class="drawer__divider" />

        <nav class="nav flex-column" aria-label="U N T Campus Links">
          <a href="<%= url_unt %>"
             rel="noopener"
             class="link--external nav-item nav-link px-3"
             ga-on="click"
             ga-event-category="link - drawer"
             ga-event-action="university"
             ga-event-label="<%= url_unt %>"
             ga-event-value="1">UNT Homepage</a>

          <a href="<%= url_my_unt %>"
             rel="noopener"
             class="link--external nav-item nav-link px-3"
             ga-on="click"
             ga-event-category="link - drawer"
             ga-event-action="university"
             ga-event-label="<%= url_my_unt %>"
             ga-event-value="1">MyUNT</a>

          <a href="<%= url_learn_unt %>"
             rel="noopener"
             class="link--external nav-item nav-link px-3"
             ga-on="click"
             ga-event-category="link - drawer"
             ga-event-action="university"
             ga-event-label="<%= url_learn_unt %>"
             ga-event-value="1">Canvas</a>

          <a href="<%= url_eagle_connect %>"
             rel="noopener"
             class="link--external nav-item nav-link px-3"
             ga-on="click"
             ga-event-category="link - drawer"
             ga-event-action="university"
             ga-event-label="<%= url_eagle_connect %>"
             ga-event-value="1">EagleConnect</a>

          <a href="<%= url_unt_directory %>"
             rel="noopener"
             class="link--external nav-item nav-link px-3"
             ga-on="click"
             ga-event-category="link - drawer"
             ga-event-action="university"
             ga-event-label="<%= url_unt_directory %>"
             ga-event-value="1">UNT Directory</a>

          <a href="<%= url_unt_map %>"
             rel="noopener"
             class="link--external nav-item nav-link px-3"
             ga-on="click"
             ga-event-category="link - drawer"
             ga-event-action="university"
             ga-event-label="<%= url_unt_map %>"
             ga-event-value="1">UNT Map</a>

          <a href="<%= url_unt_jobs %>"
             rel="noopener"
             class="link--external nav-item nav-link px-3"
             ga-on="click"
             ga-event-category="link - drawer"
             ga-event-action="university"
             ga-event-label="<%= url_unt_jobs %>"
             ga-event-value="1">Jobs at UNT</a>
        </nav>
      </div>
    </div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
         data-src="<%= asset_pack_path 'media/images/backgrounds/drawer.png' %>"
         class="lazyload cute d-none"
         aria-hidden="true"
         alt="illustration of Willis Library and Hurley Administration building" />
  </div>
</div>
