<% content_for?(:head_scripts) ? yield(:head_scripts) : content_for(:head_scripts) do %>
  <%= javascript_packs_with_chunks_tag 'base', 'index', 'data-turbolinks-track': 'reload', defer: true %>
<% end %>

<% content_for(:content) do %>
  <% if content_for? :sidebar %>
    <section id="sidebar" class="<%= sidebar_classes %>">
      <%= content_for(:sidebar) %>
    </section>

    <section id="content" class="<%= main_content_classes %>">
      <%= yield %>
    </section>
  <% else %>
    <section id="content" class="<%= main_content_classes %>">
      <%= yield %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
