<% content_for(:content) do %>
  <% if (content_for? :sidebar) || (content_for? :right_sidebar) %>
    <section id="content" class="<%= main_content_classes %> order-last" aria-label="<%= t('blacklight.search.documents.aria.search_results') %>">
      <%= yield %>
    </section>

    <% if content_for? :sidebar %>
    <section id="sidebar" class="<%= sidebar_classes %> order-first" aria-label="<%= t('blacklight.search.documents.aria.limit_search') %>">
      <%= content_for(:sidebar) %>
    </section>
    <% end %>

    <% if content_for? :right_sidebar %>
      <section id="right_sidebar" class="<%= right_sidebar_classes %>">
        <%= content_for(:right_sidebar) %>
      </section>
    <% end %>
  <% else %>
    <section class="col-md-12">
      <%= yield %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
