<% content_for(:head_scripts) do %>
  <%# Must include `defer: true` if it depends on any head scripts %>
  <%= javascript_pack_tag 'show', 'data-turbolinks-track': 'reload', defer: true %>
<% end %>

<% content_for(:content) do %>
  <section id="sidebar" class="<%= show_sidebar_desktop_classes %>">
    <%= render partial: 'catalog/show_thumbnail' %>
    <%= render partial: 'catalog/show_tools' %>
  </section>

  <section id="content" class="<%= main_content_classes %>">
    <div class="row">
      <div class="col">
        <%# Main content column from _show_main_content %>
        <div class="<%= show_content_classes %>">
          <%= yield %>
        </div>

        <div class="<%= show_sidebar_mobile_classes %>">
          <%= render partial: 'catalog/show_tools' %>
        </div>
      </div>
    </div>
  </section>

<!--  <section id="sidebar" class="<%#= show_sidebar_desktop_classes %>">-->
    <%#= render partial: 'catalog/show_thumbnail' %>
    <%#= render partial: 'catalog/show_tools' %>
<!--  </section>-->

<!--  <section class="<%#= show_right_sidebar_desktop_classes %>">-->

<!--  </section>-->

<% end %>

<%= render template: "layouts/blacklight/base" %>
