<% content_for(:content) do %>
  <section class="content col">
    <div class="row">
      <div class="<%= show_sidebar_desktop_classes %>">
        <%= render partial: 'catalog/show_thumbnail' %>
        <%= render partial: 'catalog/show_tools' %>
      </div>

      <div class="col">
        <div class="<%= show_sidebar_mobile_classes %> d-none">
          <%= render partial: 'catalog/show_thumbnail' %>
        </div>

        <div class="<%= show_content_classes %>">
          <div class="card ">
            <div class="card-body">
              <div class="row">
                <div class="col-12 <%= show_breadcrumb_search_classes %>">
                  <%= render partial: 'shared/content/breadcrumbs' %>
                </div>
              </div>
              <%= yield %>
            </div>
          </div>
          <%= render partial: 'show_availability', locals: { document: @document } if @document %>
        </div>

        <div class="<%= show_sidebar_mobile_classes %>">
          <%= render partial: 'catalog/show_tools' %>
        </div>
      </div>

    </div>
  </section>

<% end %>

<%= render template: "layouts/blacklight/base" %>
