<% content_for(:content) do %>
  <section id="content" class="<%= show_content_classes %>">
    <div class="card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-12">
            <%= render partial: 'shared/content/breadcrumbs' %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </section>

  <% if content_for? :sidebar %>
    <section id="sidebar" class="<%= show_sidebar_classes %>">
      <%= content_for(:sidebar) %>
    </section>
  <% end %>
<% end %>

<%= render template: "layouts/blacklight/base" %>
