<% content_for(:content) do %>
  <section id="content" class="<%= show_content_classes %> <%= main_content_classes %>">
    <%= yield %>
  </section>

  <section id="sidebar" class="<%= show_sidebar_classes %>">
    <%= content_for(:sidebar) %>
  </section>
<% end %>

<%= render template: "layouts/blacklight/base" %>
